body {
    background-color: black;
}

h1, h2, p, a{
    font-family: Verdana, sans-serif;
    font-weight: Normal;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 40px;
    color: white;
}

p {
    font-size: 21px;
    color: grey;
}

a {
    font-size: 16px;
    color: aqua;
}